*{
	margin:0;
	padding:0;
	border:0;
}

body{
	font-family:'Trebuchet MS', 'sans-serif';
}

table
{
	width:95%;
	margin-top:10px;
	margin-left:10px;
}

a.button:visited
{
	color:black;
}

a.button
{
	border:1px black solid;
	padding:10px;
	font-size:1.75em;
	margin-top:200px;
	text-decoration:none;
}

a.button:hover
{
	background-color:black;
	border:1px white solid;
	color:white;
}

.parallax{
	background:url("./../images/background.jpg") fixed 75%;
	background-size:cover;
}
