@property --gradient-angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes rotation {
	0% { --gradient-angle: 0deg; }
	100% { --gradient-angle: 360deg; }
}

:root{
	--clr-1: #052b2f;
	--clr-2: #073438;
	--clr-3: #0e4b50;
	--clr-4: #2d8f85;
	--clr-5: #637c54;
}

body{
	font-family: Trebuchet MS, sans-serif;
	background: white;
	min-height: 100vh;
	display: grid;
	place-content: center;
}

.card{
	padding-top: 20px;
	height: 60vh;
	aspect-ratio: 1/ 1.5;
	background: white;
	border-radius: 0.5rem;

	position: relative;
}

.card::before,
.card::after{
	content: "";
	position: absolute;
	inset: -.5rem;
	z-index: -1;
	background: conic-gradient(
		from var(--gradient-angle),
		var(--clr-1),
		var(--clr-2),
		var(--clr-3),
		var(--clr-4),
		var(--clr-5),
		var(--clr-4),
		var(--clr-3),
		var(--clr-2),
		var(--clr-1));
	border-radius: inherit; /* To make sure this card has the same curves. */
	animation: rotation 15s linear infinite;
}

.card::after{
	filter: blur(3.5rem); /* To get a glow around the card. */
}

.splashbutton{
	text-decoration: none;
	border: 1px var(--clr-5) solid;
	border-radius: 10px;
	color: var(--clr-5);
	background-color: white;
	padding: 10px;
}

.splashbutton:hover{
	color: white;
	background-color: var(--clr-5);
}

