.intro{
	color: #637c54;
	padding: 10px;
    border: 1px #637c54 solid;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: colmun;
    align-items: center;
    gap: 1rem;
}

.intro_text{
	width: 300px;
	border: 1px #637c54 solid;
	border-radius: 10px;
	flex-shrink: 1;
	padding: 10px;
}

.intro_text h1{
	text-wrap: wrap;
}