body{
	color: #637c54;
    	font-size: 1.5em;
}

.pageContent{
	padding: 10px;
}

.intro{
	color: #637c54;
	padding: 10px;
    	margin: 20px;
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	align-items: center;
    	gap: 1rem;
}

.intro_text{
	width: 300px;
	flex-shrink: 1;
	padding: 10px;
}

.intro_text h1{
	text-wrap: wrap;
}

.projects{
	padding: 10px;
	margin-top: 20px;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.projects a{
	color: #637c54;
	border: 1px #637c54 solid;
	border-radius: 10px;
	text-decoration: none;
}

.projects a:hover{
        color: #eeff00;
        background-color: #637c54;
        border: 1px #eeff00 solid;
}

.projectsThumbnail {
	height: 300px;
	width: 450px;
}

.characterConnections, .allSales{
	padding: 5px;
}

@media(max-width: 800px){
    .projectsThumbnail{
        height: 200px;
        width: 350px;
    }

    body{
        font-size: 1.15em;
    }
}
