body
{
	background-color:green;
}

h1
{
	color:yellow;
	font-size:3em;
	font-family:impact;
}

p
{
	color:yellow;
	font-size:2.5em;
	font-family:impact;
}

a
{
	background-color:green;
	color:yellow;
	font-family:impact;
	font-size:2.5em;
	text-decoration:none;
	border: 1px yellow solid;
	border-radius:10px;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px
}

a:hover
{
	background-color:yellow;
	color:green;
}

.banner
{
	border:5px yellow solid;
	width:99%;
	margin-bottom:10px;
}

.text
{
	border:1px yellow solid;
	width:98%;
	padding-left:10px;
	padding-right:1px;
	margin-bottom:20px;
}
